<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NYC 311 Automation Testing">
  <listeners>
    <listener class-name="listener.TestListener"/>
  </listeners>

   <test name="Smoke Test" parallel="methods" thread-count="3">
       <classes>
       <!--<class name="tests.loginTests.LoginTests"/>
          <class name="tests.loginTests.HomePageTest"/>   
           <class name="tests.loginTests.ProfilePageTests"/>-->
           <class name="tests.createServiceRequest.NoiseSRTest"/>
       </classes>
   </test>
</suite>

